.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .boxrow {
  border: 1px dotted grey;
}

.box .boxrow.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .boxrow.content {
  flex: 1 1 auto;
}

.box .boxrow.footer {
  flex: 0 1 20px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}